body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 40%;
  height: 96vh;
  padding: 1em 3em;
  background-color: #0158a8;
  color: white;
}

/* THE FORM AREA */
.right {
  width: 500px;
  margin: auto;
  padding-left: 4em;
  background-color: #ffffff;
}

input {
  display: block;
  border-radius: 3%;
}
